<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artworks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">

    <style>
        @font-face {
            font-family: 'flowergarden';
            src: local('Flowergarden'),
                url('{% static "app/flowergarden.ttf" %}') format("truetype");
        }
    </style>

    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'index' %}"><h1>The online collection of artworks</h1></a>
    </header>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>